/* Block Grid
   ============================================================================================== */

.block-grid {
  list-style: none;
  margin: 0 -( @grid-gutter-width / 2 );
  padding: 0;
  .clear-float();

  > * {
    float: left;
    width: 100%;
    margin-bottom: @margin-base-y;
    padding-left: ( @grid-gutter-width / 2 );
    padding-right: ( @grid-gutter-width / 2 );
  }
}

@media all                            { .generate-block-grid( tiny ); }
@media ( min-width: @screen-small )   { .generate-block-grid( small ); }
@media ( min-width: @screen-medium )  { .generate-block-grid( medium ); }
@media ( min-width: @screen-large )   { .generate-block-grid( large ); }
@media ( min-width: @screen-xlarge )  { .generate-block-grid( xlarge ); }