/* Grid
------------------------------------------------------------------------------------------------- */

.row {
  .make-row();
}

/*
 * 1. Avoid column collapsing when empty
 */
.column {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px; /* 1 */
  padding-left:  ( @grid-gutter-width / 2 );
  padding-right: ( @grid-gutter-width / 2 );
}

@media all {
  .grid-columns-loop( tiny );
}

@media ( min-width: @screen-small ) {
  .grid-columns-loop( small );
}

@media ( min-width: @screen-medium ) {
  .grid-columns-loop( medium );
}

@media ( min-width: @screen-large ) {
  .grid-columns-loop( large );
}

@media ( min-width: @screen-xlarge ) {
  .grid-columns-loop( xlarge );
}