@font-face {
  font-family: frontkit;
  src: url( "@{icon-fontpath}/frontkit.woff" ) format( "woff" );
  font-style: normal;
  font-weight: normal;
}

/*
 * 1. Avoid bad rendering on Webkit
 */
.@{icon-prefix}:before {
  line-height: 1;
  font-family: frontkit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased; /* 1 */
  -moz-osx-font-smoothing: grayscale;
}

.@{icon-prefix}-chevron-down { &:before { content: "\f0a3"; } }
.@{icon-prefix}-chevron-left { &:before { content: "\f0a4"; } }
.@{icon-prefix}-chevron-right { &:before { content: "\f078"; } }
.@{icon-prefix}-chevron-up { &:before { content: "\f0a2"; } }
.@{icon-prefix}-email { &:before { content: "\f03b"; } }
.@{icon-prefix}-home { &:before { content: "\e600"; } }
.@{icon-prefix}-office { &:before { content: "\e601"; } }
.@{icon-prefix}-newspaper { &:before { content: "\e602"; } }
.@{icon-prefix}-pencil { &:before { content: "\e603"; } }
.@{icon-prefix}-droplet { &:before { content: "\e604"; } }
.@{icon-prefix}-image { &:before { content: "\e605"; } }
.@{icon-prefix}-camera { &:before { content: "\e606"; } }
.@{icon-prefix}-music { &:before { content: "\e607"; } }
.@{icon-prefix}-headphones { &:before { content: "\e608"; } }
.@{icon-prefix}-film { &:before { content: "\e609"; } }
.@{icon-prefix}-video-camera { &:before { content: "\e60a"; } }
.@{icon-prefix}-bullhorn { &:before { content: "\e60b"; } }
.@{icon-prefix}-connection { &:before { content: "\e60c"; } }
.@{icon-prefix}-books { &:before { content: "\e60d"; } }
.@{icon-prefix}-library { &:before { content: "\e60e"; } }
.@{icon-prefix}-file { &:before { content: "\e60f"; } }
.@{icon-prefix}-files { &:before { content: "\e610"; } }
.@{icon-prefix}-copy { &:before { content: "\e612"; } }
.@{icon-prefix}-paste { &:before { content: "\e613"; } }
.@{icon-prefix}-stack { &:before { content: "\e616"; } }
.@{icon-prefix}-folder { &:before { content: "\e617"; } }
.@{icon-prefix}-folder-open { &:before { content: "\e618"; } }
.@{icon-prefix}-tag { &:before { content: "\e619"; } }
.@{icon-prefix}-tags { &:before { content: "\e61a"; } }
.@{icon-prefix}-barcode { &:before { content: "\e61b"; } }
.@{icon-prefix}-qrcode { &:before { content: "\e61c"; } }
.@{icon-prefix}-ticket { &:before { content: "\e61d"; } }
.@{icon-prefix}-cart { &:before { content: "\e61e"; } }
.@{icon-prefix}-coin { &:before { content: "\e61f"; } }
.@{icon-prefix}-credit { &:before { content: "\e620"; } }
.@{icon-prefix}-support { &:before { content: "\e621"; } }
.@{icon-prefix}-phone { &:before { content: "\e622"; } }
.@{icon-prefix}-address-book { &:before { content: "\e623"; } }
.@{icon-prefix}-pushpin { &:before { content: "\e624"; } }
.@{icon-prefix}-location { &:before { content: "\e625"; } }
.@{icon-prefix}-compass { &:before { content: "\e626"; } }
.@{icon-prefix}-map { &:before { content: "\e627"; } }
.@{icon-prefix}-history { &:before { content: "\e628"; } }
.@{icon-prefix}-clock { &:before { content: "\e629"; } }
.@{icon-prefix}-alarm { &:before { content: "\e62a"; } }
.@{icon-prefix}-bell { &:before { content: "\e62b"; } }
.@{icon-prefix}-stopwatch { &:before { content: "\e62c"; } }
.@{icon-prefix}-calendar { &:before { content: "\e62d"; } }
.@{icon-prefix}-day { &:before { content: "\e62e"; } }
.@{icon-prefix}-print { &:before { content: "\e62f"; } }
.@{icon-prefix}-keyboard { &:before { content: "\e630"; } }
.@{icon-prefix}-screen { &:before { content: "\e631"; } }
.@{icon-prefix}-laptop { &:before { content: "\e632"; } }
.@{icon-prefix}-mobile { &:before { content: "\e633"; } }
.@{icon-prefix}-tablet { &:before { content: "\e635"; } }
.@{icon-prefix}-tv { &:before { content: "\e636"; } }
.@{icon-prefix}-cabinet { &:before { content: "\e637"; } }
.@{icon-prefix}-drawer { &:before { content: "\e638"; } }
.@{icon-prefix}-box-add { &:before { content: "\e639"; } }
.@{icon-prefix}-box-remove { &:before { content: "\e63a"; } }
.@{icon-prefix}-save { &:before { content: "\e63b"; } }
.@{icon-prefix}-storage { &:before { content: "\e63c"; } }
.@{icon-prefix}-flip-horizontal { &:before { content: "\e63d"; } }
.@{icon-prefix}-flip-vertical { &:before { content: "\e63e"; } }
.@{icon-prefix}-undo { &:before { content: "\e63f"; } }
.@{icon-prefix}-redo { &:before { content: "\e640"; } }
.@{icon-prefix}-email-forward { &:before { content: "\e641"; } }
.@{icon-prefix}-email-reply { &:before { content: "\e642"; } }
.@{icon-prefix}-comment { &:before { content: "\e643"; } }
.@{icon-prefix}-comments { &:before { content: "\e644"; } }
.@{icon-prefix}-user { &:before { content: "\e645"; } }
.@{icon-prefix}-businessman { &:before { content: "\e646"; } }
.@{icon-prefix}-quotes-left { &:before { content: "\e647"; } }
.@{icon-prefix}-busy { &:before { content: "\e648"; } }
.@{icon-prefix}-binoculars { &:before { content: "\e649"; } }
.@{icon-prefix}-search { &:before { content: "\e64a"; } }
.@{icon-prefix}-zoom-in { &:before { content: "\e64b"; } }
.@{icon-prefix}-zoom-out { &:before { content: "\e64c"; } }
.@{icon-prefix}-expand { &:before { content: "\e64d"; } }
.@{icon-prefix}-contract { &:before { content: "\e64e"; } }
.@{icon-prefix}-expand2 { &:before { content: "\e64f"; } }
.@{icon-prefix}-contract2 { &:before { content: "\e650"; } }
.@{icon-prefix}-key { &:before { content: "\e651"; } }
.@{icon-prefix}-lock { &:before { content: "\e652"; } }
.@{icon-prefix}-lock-locked { &:before { content: "\e653"; } }
.@{icon-prefix}-lock-unlocked { &:before { content: "\e654"; } }
.@{icon-prefix}-wrench { &:before { content: "\e655"; } }
.@{icon-prefix}-settings { &:before { content: "\e656"; } }
.@{icon-prefix}-equalizer { &:before { content: "\e657"; } }
.@{icon-prefix}-cogs { &:before { content: "\e658"; } }
.@{icon-prefix}-cog { &:before { content: "\e659"; } }
.@{icon-prefix}-wand { &:before { content: "\e65a"; } }
.@{icon-prefix}-aid { &:before { content: "\e65b"; } }
.@{icon-prefix}-bug { &:before { content: "\e65c"; } }
.@{icon-prefix}-pie { &:before { content: "\e65d"; } }
.@{icon-prefix}-stats { &:before { content: "\e65e"; } }
.@{icon-prefix}-bars { &:before { content: "\e65f"; } }
.@{icon-prefix}-bars-stacked { &:before { content: "\e660"; } }
.@{icon-prefix}-gift { &:before { content: "\e661"; } }
.@{icon-prefix}-trophy { &:before { content: "\e662"; } }
.@{icon-prefix}-glass { &:before { content: "\e663"; } }
.@{icon-prefix}-mug { &:before { content: "\e664"; } }
.@{icon-prefix}-food { &:before { content: "\e665"; } }
.@{icon-prefix}-leaf { &:before { content: "\e666"; } }
.@{icon-prefix}-rocket { &:before { content: "\e667"; } }
.@{icon-prefix}-meter { &:before { content: "\e668"; } }
.@{icon-prefix}-hammer { &:before { content: "\e669"; } }
.@{icon-prefix}-fire { &:before { content: "\e66a"; } }
.@{icon-prefix}-lab { &:before { content: "\e66b"; } }
.@{icon-prefix}-magnet { &:before { content: "\e66c"; } }
.@{icon-prefix}-remove { &:before { content: "\e66d"; } }
.@{icon-prefix}-trash-o { &:before { content: "\e66e"; } }
.@{icon-prefix}-briefcase { &:before { content: "\e66f"; } }
.@{icon-prefix}-airplane { &:before { content: "\e670"; } }
.@{icon-prefix}-truck { &:before { content: "\e671"; } }
.@{icon-prefix}-road { &:before { content: "\e672"; } }
.@{icon-prefix}-accessibility { &:before { content: "\e673"; } }
.@{icon-prefix}-target { &:before { content: "\e674"; } }
.@{icon-prefix}-shield { &:before { content: "\e675"; } }
.@{icon-prefix}-lightning { &:before { content: "\e676"; } }
.@{icon-prefix}-power { &:before { content: "\e677"; } }
.@{icon-prefix}-powercord { &:before { content: "\e678"; } }
.@{icon-prefix}-signup { &:before { content: "\e679"; } }
.@{icon-prefix}-list { &:before { content: "\e67a"; } }
.@{icon-prefix}-unordered-list { &:before { content: "\e67b"; } }
.@{icon-prefix}-numbered-list { &:before { content: "\e67c"; } }
.@{icon-prefix}-reorder { &:before { content: "\e67d"; } }
.@{icon-prefix}-menu { &:before { content: "\e67e"; } }
.@{icon-prefix}-tree { &:before { content: "\e67f"; } }
.@{icon-prefix}-cloud { &:before { content: "\e680"; } }
.@{icon-prefix}-cloud-download { &:before { content: "\e681"; } }
.@{icon-prefix}-cloud-upload { &:before { content: "\e682"; } }
.@{icon-prefix}-earth { &:before { content: "\e683"; } }
.@{icon-prefix}-link { &:before { content: "\e684"; } }
.@{icon-prefix}-flag { &:before { content: "\e685"; } }
.@{icon-prefix}-attachment { &:before { content: "\e686"; } }
.@{icon-prefix}-eye { &:before { content: "\e687"; } }
.@{icon-prefix}-eye-blocked { &:before { content: "\e688"; } }
.@{icon-prefix}-bookmark { &:before { content: "\e689"; } }
.@{icon-prefix}-bookmarks { &:before { content: "\e68a"; } }
.@{icon-prefix}-brightness { &:before { content: "\e68b"; } }
.@{icon-prefix}-brightness-contrast { &:before { content: "\e68c"; } }
.@{icon-prefix}-contrast { &:before { content: "\e68d"; } }
.@{icon-prefix}-star-o { &:before { content: "\e68e"; } }
.@{icon-prefix}-star-half-o { &:before { content: "\e68f"; } }
.@{icon-prefix}-star { &:before { content: "\e690"; } }
.@{icon-prefix}-heart { &:before { content: "\e691"; } }
.@{icon-prefix}-heart-o { &:before { content: "\e692"; } }
.@{icon-prefix}-heart-broken { &:before { content: "\e693"; } }
.@{icon-prefix}-thumbs-up { &:before { content: "\e694"; } }
.@{icon-prefix}-thumbs-down { &:before { content: "\e695"; } }
.@{icon-prefix}-warning { &:before { content: "\e696"; } }
.@{icon-prefix}-notification { &:before { content: "\e697"; } }
.@{icon-prefix}-question { &:before { content: "\e698"; } }
.@{icon-prefix}-info-o { &:before { content: "\e699"; } }
.@{icon-prefix}-info { &:before { content: "\e69a"; } }
.@{icon-prefix}-blocked { &:before { content: "\e69b"; } }
.@{icon-prefix}-cancel-circle { &:before { content: "\e69c"; } }
.@{icon-prefix}-checkmark-circle { &:before { content: "\e69d"; } }
.@{icon-prefix}-spam { &:before { content: "\e69e"; } }
.@{icon-prefix}-close { &:before { content: "\e69f"; } }
.@{icon-prefix}-ok { &:before { content: "\e6a0"; } }
.@{icon-prefix}-ok-o { &:before { content: "\e6a1"; } }
.@{icon-prefix}-spell-check { &:before { content: "\e6a2"; } }
.@{icon-prefix}-minus { &:before { content: "\e6a3"; } }
.@{icon-prefix}-plus { &:before { content: "\e6a4"; } }
.@{icon-prefix}-enter { &:before { content: "\e6a5"; } }
.@{icon-prefix}-exit { &:before { content: "\e6a6"; } }
.@{icon-prefix}-play { &:before { content: "\e6a7"; } }
.@{icon-prefix}-pause { &:before { content: "\e6a8"; } }
.@{icon-prefix}-stop { &:before { content: "\e6a9"; } }
.@{icon-prefix}-backward { &:before { content: "\e6aa"; } }
.@{icon-prefix}-forward { &:before { content: "\e6ab"; } }
.@{icon-prefix}-fast-backward { &:before { content: "\e6ac"; } }
.@{icon-prefix}-fast-forward { &:before { content: "\e6ad"; } }
.@{icon-prefix}-previous { &:before { content: "\e6ae"; } }
.@{icon-prefix}-next { &:before { content: "\e6af"; } }
.@{icon-prefix}-eject { &:before { content: "\e6b0"; } }
.@{icon-prefix}-volume-high { &:before { content: "\e6b1"; } }
.@{icon-prefix}-volume-medium { &:before { content: "\e6b2"; } }
.@{icon-prefix}-volume-low { &:before { content: "\e6b3"; } }
.@{icon-prefix}-volume-muted { &:before { content: "\e6b4"; } }
.@{icon-prefix}-volume-mute { &:before { content: "\e6b5"; } }
.@{icon-prefix}-volume-increase { &:before { content: "\e6b6"; } }
.@{icon-prefix}-volume-decrease { &:before { content: "\e6b7"; } }
.@{icon-prefix}-loop { &:before { content: "\e6b8"; } }
.@{icon-prefix}-shuffle { &:before { content: "\e6b9"; } }
.@{icon-prefix}-arrow-up { &:before { content: "\e6be"; } }
.@{icon-prefix}-arrow-right { &:before { content: "\e6bf"; } }
.@{icon-prefix}-arrow-down { &:before { content: "\e6c0"; } }
.@{icon-prefix}-arrow-left { &:before { content: "\e6c1"; } }
.@{icon-prefix}-arrow-up-circle { &:before { content: "\e6c2"; } }
.@{icon-prefix}-arrow-right-circle { &:before { content: "\e6c3"; } }
.@{icon-prefix}-arrow-down-circle { &:before { content: "\e6c4"; } }
.@{icon-prefix}-arrow-left-circle { &:before { content: "\e6c5"; } }
.@{icon-prefix}-tab { &:before { content: "\e6c6"; } }
.@{icon-prefix}-crop { &:before { content: "\e6c7"; } }
.@{icon-prefix}-filter { &:before { content: "\e6c8"; } }
.@{icon-prefix}-font { &:before { content: "\e6c9"; } }
.@{icon-prefix}-text-height { &:before { content: "\e6ca"; } }
.@{icon-prefix}-text-width { &:before { content: "\e6cb"; } }
.@{icon-prefix}-bold { &:before { content: "\e6cc"; } }
.@{icon-prefix}-underline { &:before { content: "\e6cd"; } }
.@{icon-prefix}-italic { &:before { content: "\e6ce"; } }
.@{icon-prefix}-strikethrough { &:before { content: "\e6cf"; } }
.@{icon-prefix}-table { &:before { content: "\e6d0"; } }
.@{icon-prefix}-paragraph-left { &:before { content: "\e6d1"; } }
.@{icon-prefix}-paragraph-center { &:before { content: "\e6d2"; } }
.@{icon-prefix}-paragraph-right { &:before { content: "\e6d3"; } }
.@{icon-prefix}-paragraph-justify { &:before { content: "\e6d4"; } }
.@{icon-prefix}-indent-increase { &:before { content: "\e6d5"; } }
.@{icon-prefix}-indent-decrease { &:before { content: "\e6d6"; } }
.@{icon-prefix}-external { &:before { content: "\e6d7"; } }
.@{icon-prefix}-embed { &:before { content: "\e6d8"; } }
.@{icon-prefix}-code { &:before { content: "\e6d9"; } }
.@{icon-prefix}-console { &:before { content: "\e6da"; } }
.@{icon-prefix}-share { &:before { content: "\e6db"; } }
.@{icon-prefix}-googleplus { &:before { content: "\e6dc"; } }
.@{icon-prefix}-googleplus-square { &:before { content: "\e6dd"; } }
.@{icon-prefix}-googleplus-circle { &:before { content: "\e6de"; } }
.@{icon-prefix}-facebook { &:before { content: "\e6df"; } }
.@{icon-prefix}-facebook-square { &:before { content: "\e6e0"; } }
.@{icon-prefix}-facebook-circle { &:before { content: "\e6e1"; } }
.@{icon-prefix}-instagram { &:before { content: "\e6e2"; } }
.@{icon-prefix}-twitter { &:before { content: "\e6e3"; } }
.@{icon-prefix}-twitter-square { &:before { content: "\e6e4"; } }
.@{icon-prefix}-twitter-circle { &:before { content: "\e6e5"; } }
.@{icon-prefix}-feed { &:before { content: "\e6e6"; } }
.@{icon-prefix}-feed-square { &:before { content: "\e6e7"; } }
.@{icon-prefix}-feed-circle { &:before { content: "\e6e8"; } }
.@{icon-prefix}-youtube { &:before { content: "\e6e9"; } }
.@{icon-prefix}-github { &:before { content: "\e6ea"; } }
.@{icon-prefix}-tumblr { &:before { content: "\e6eb"; } }
.@{icon-prefix}-tumblr-square { &:before { content: "\e6ec"; } }
.@{icon-prefix}-tux { &:before { content: "\e6ed"; } }
.@{icon-prefix}-apple { &:before { content: "\e6ee"; } }
.@{icon-prefix}-android { &:before { content: "\e6ef"; } }
.@{icon-prefix}-windows { &:before { content: "\e6f0"; } }
.@{icon-prefix}-windows8 { &:before { content: "\e6f1"; } }
.@{icon-prefix}-soundcloud { &:before { content: "\e6f2"; } }
.@{icon-prefix}-soundcloud-square { &:before { content: "\e6f3"; } }
.@{icon-prefix}-skype { &:before { content: "\e6f4"; } }
.@{icon-prefix}-linkedin { &:before { content: "\e6f5"; } }
.@{icon-prefix}-stackoverflow { &:before { content: "\e6f6"; } }
.@{icon-prefix}-pinterest { &:before { content: "\e6f7"; } }
.@{icon-prefix}-pinterest-square { &:before { content: "\e6f8"; } }
.@{icon-prefix}-libreoffice { &:before { content: "\e6f9"; } }
.@{icon-prefix}-file-pdf { &:before { content: "\e6fa"; } }
.@{icon-prefix}-file-openoffice { &:before { content: "\e6fb"; } }
.@{icon-prefix}-file-word { &:before { content: "\e6fc"; } }
.@{icon-prefix}-file-excel { &:before { content: "\e6fd"; } }
.@{icon-prefix}-file-zip { &:before { content: "\e6fe"; } }
.@{icon-prefix}-file-powerpoint { &:before { content: "\e6ff"; } }
.@{icon-prefix}-file-xml { &:before { content: "\e700"; } }
.@{icon-prefix}-file-css { &:before { content: "\e701"; } }
.@{icon-prefix}-html5 { &:before { content: "\e702"; } }
.@{icon-prefix}-css3 { &:before { content: "\e704"; } }
.@{icon-prefix}-chrome { &:before { content: "\e705"; } }
.@{icon-prefix}-firefox { &:before { content: "\e706"; } }
.@{icon-prefix}-ie { &:before { content: "\e707"; } }
.@{icon-prefix}-opera { &:before { content: "\e708"; } }
.@{icon-prefix}-safari { &:before { content: "\e709"; } }