/* Utils
   ============================================================================================== */

/* Visibility
   ---------- */
.show { display: inherit !important; }
.hide { display: none !important; }

/* Floating
   -------- */
.pull-start { float: left; }
.pull-end   { float: right; }

/* Text alignment
   -------------- */
.text-left    { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

/* Contextual text
   --------------- */
.text-muted   { color: @muted-color; }
.text-success { color: @brand-success; }
.text-info    { color: @brand-info; }
.text-warning { color: @brand-warning; }
.text-danger  { color: @brand-danger; }