// Imports
// -------
@import "../../src/styles/variables.less";
@import "../../src/styles/mixins.less";

// Variables
// ---------
@theme-base-color: #00B5AD;

@navbar-bg:                 @theme-base-color;
@navbar-brand-color:        #fff;
@navbar-brand-hover-color:  @navbar-brand-color;
@navbar-link:               mix( @theme-base-color, #fff, 30% );
@navbar-link-hover:         #fff;
@navbar-active-link-bg:     transparent;

// Mixins
// ------
.heading-background() {
  color: #fff;
  background: url( "../images/background.png" ) @theme-base-color;
}

// -------------------------------------------------------------------------------------------------

body {
  padding-top: @navbar-height;

  &.home { .heading-background(); }
}

.docs-master-head {
  .heading-background();

  h1 {
    line-height: 1;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 0px 3px 10px rgba( 0, 0, 0, .5 );
  }

  .home & {
    position: absolute;
    top: 50%;
    left: 50%;
    .transform( translate( -50%, -50% ) );
  }
}

.docs-navbar {
  border-color: @navbar-border;
  background: @navbar-bg;
  .box-shadow( 0 1px 0 rgba( 255, 255, 255, .5 ) );

  .navbar-brand {
    color: @navbar-brand-color;

    &:hover {
      color: @navbar-brand-hover-color;
    }
  }

  .navbar-nav .nav-item {
    > a { color: @navbar-link; }

    &.active { background-color: @navbar-active-link-bg; }

    &.active > a,
    > a:hover { color: @navbar-link-hover; }
  }
}

.docs-sidebar {
  //margin-top: -( hero-unit-padding-y * 2 );
  padding: @padding-large-y 0;
  background-color: lighten( @gray-light-2, 4% );
}

.docs-content {
  padding-left: .75em;

  > section + section {
    margin-top: @margin-base-y;
    padding-top: @margin-base-y;
    border-top: 2px solid @divider-color;
  }
}

.docs-heading {
  position: relative;

  .docs-anchor {
    position: absolute;
    top: 10%;
    left: -1em;
    display: block;
    padding: 0 .25em;
    color: @gray;
    font-size: 80%;
    text-decoration: none;
    opacity: 0;
    .transition( opacity .1s linear );
  }

  &:hover .docs-anchor {
    opacity: 1;
  }
}

// Examples
// --------

// Grid
.grid-example {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .column {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid @gray-light-1;
    background-color: @gray-light-2;

    &:hover {
      background-color: darken( @gray-light-2, 5% );
    }
  }

  .row {
    margin-bottom: @margin-base-y;
  }
}

// General
.example {
  position: relative;
  margin-bottom: @margin-base-y;
  padding: ( @padding-base-y + .6rem + unit( @line-height-base, rem ) ) @padding-base-x @padding-base-y;
  border: 1px solid @gray-light-2;
  border-radius: @border-radius-base;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    padding: .3rem .5rem;
    color: @gray;
    font-weight: bold;
    font-size: ( @font-size-small * .7 );
    text-transform: uppercase;
    background-color: @gray-light-2;
    border-radius: @border-radius-base 0 @border-radius-base 0;
    content: "Example";
  }

  + .highlight {
    position: relative;
    margin-top: calc( ~"-@{margin-base-y} - 3px" );
    border-bottom-radius: @border-radius-base;
  }

  @media ( max-width: @screen-tiny-max ) {
    &,
    + .highlight {
      margin-left: -( @grid-gutter-width / 2 );
      margin-right: -( @grid-gutter-width / 2 );
      border-radius: 0;
    }
  }
}

// Helpers
// -------
#focused-input {
  .input-focus();
}